@charset "UTF-8";

.DMXLanes-tabs-field {
  display: inline-block;
}

.DMXLanes-tab {
  display: inline-block;
  background-color: hsla(0, 0%, 80%, 0.2);
  border-left: solid 1px #000;
  width: calc(3em - 1px);
  padding: 0.5em;
  cursor: pointer;
}
.DMXLanes-tab:last-child {
  border-right: solid 1px #000;
}
.DMXLanes-tab:has(input:checked) {
  background-color: hsla(0, 100%, 80%, 0.5);
}

/* !(view-group == 0 || view-group == n) */
:not(.DMXLanes-lanes-field[view-group="0"], .DMXLanes-lanes-field[view-group="1"]) > .DMXLanes-lanes-group-1 { display: none; }
:not(.DMXLanes-lanes-field[view-group="0"], .DMXLanes-lanes-field[view-group="2"]) > .DMXLanes-lanes-group-2 { display: none; }
:not(.DMXLanes-lanes-field[view-group="0"], .DMXLanes-lanes-field[view-group="3"]) > .DMXLanes-lanes-group-3 { display: none; }
:not(.DMXLanes-lanes-field[view-group="0"], .DMXLanes-lanes-field[view-group="4"]) > .DMXLanes-lanes-group-4 { display: none; }
:not(.DMXLanes-lanes-field[view-group="0"], .DMXLanes-lanes-field[view-group="5"]) > .DMXLanes-lanes-group-5 { display: none; }
:not(.DMXLanes-lanes-field[view-group="0"], .DMXLanes-lanes-field[view-group="6"]) > .DMXLanes-lanes-group-6 { display: none; }
:not(.DMXLanes-lanes-field[view-group="0"], .DMXLanes-lanes-field[view-group="7"]) > .DMXLanes-lanes-group-7 { display: none; }
:not(.DMXLanes-lanes-field[view-group="0"], .DMXLanes-lanes-field[view-group="8"]) > .DMXLanes-lanes-group-8 { display: none; }

.DMXLanes-lanes-field {
  display: flex;
  flex-direction: row;
}

.DMXLanes-lane {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 1em 0.5em;
}
.DMXLanes-lane:nth-child(even) {
  background-color: hsla(0, 0%, 80%, 0.2);
}
.DMXLanes-lane:has(input:focus) {
  background-color: hsla(0, 100%, 80%, 0.5);
}

.DMXLanes-ch {
  display: block;
  margin: 0;
}

.DMXLanes-slider {
  font-size: inherit;
  display: block;
  writing-mode: sideways-lr;
  outline: none;

  margin: 0.5em 0 0 0;
  height: 10em;
}

.DMXLanes-value-box {
  font-size: inherit;
  display: block;
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 50%);
  background-color: hsla(0, 0%, 0%, 0);
  color: inherit;
  outline: none;

  margin: 0.5em 0 0 0;
  padding: 0.2em 0;
  text-align: center;
  width: 3em;
}

.DMXLanes-user-label {
  margin: 2em 0 0 0;
  min-width: 1em;
  min-height: 1em;
  writing-mode: vertical-rl;
}
.DMXLanes-user-label:empty, .DMXLanes-user-label:has(br):not(:has(div)) {
  border: 1px solid hsla(0, 0%, 50%, 0.3);
}
